.hero {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 50px;

}

.heroText {
  margin-top: 15px;
}

.h1{
  color: #E0F2FE;
  font-size: 90px;
  margin: 0px;
  font-weight: bold;
}

.h2 {
  color: #F5F5F5;
  font-size: 37px;
  margin: 0px;
  font-weight: 300;
  margin-bottom: 30px;
}

.h3 {
  color: #E0F2FE;
  font-size: 60px;
  margin: 0px;
  font-weight: bold;
  margin-bottom: 30px;
}

.h4 {
  font-size: 30px;
  font-weight: 500;
  color: #F5F5F5;
  margin: 0px;
 
}


.p {
  color: #E5E7EB;
  font-size: 22px;
  line-height: 28px;

}

.container {
  display: flex;
  justify-content: center;
}

.limit {
  max-width: 1300px;
  margin: 0px 30px;
}

.portrait {
  border-radius: 50%;
  background-image: url("./../../public/selfPhoto.jpg");
  background-size: contain;
  background-position: center;
  width: 450px;
  height: 450px;
}

.experienceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
}
.experienceContainer {
  width: 520px;
}

.experienceTitle {
  display: flex;
  align-items: center;
}

.experienceInfo {
  border-left: solid white 2px;
  padding-left: 20px;
  height: 245px;
}

.jobTitle {
  font-size: 30px;
  font-weight: 500;
  color: #F5F5F5;
  margin: 0px;
}
.jobDates {
  color: #94A3B8;
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 10px;
}
.jobDescription {
  margin: 0px;
  color: #F5F5F5;
  font-size: 26px;
  margin-bottom: 10px;
  
}

.skillHeaders {
  font-size:35px;
  font-weight: 500;
  color: #F5F5F5;
  margin: 0px;
  margin-top: 30px;
}

.skills {
  font-size:40px;
  font-weight: 500;
  color: #F5F5F5;
  margin: 0px;
}
