.hero {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 50px;


  align-items: center;

}

.heroText {
  margin-top: 15px;
}

.heroSubText {
  width: 80%;
}

.h1{
  color: #E0F2FE;
  font-size: 90px;
  margin: 0px;
  font-weight: bold;
}

.h2 {
  color: #F5F5F5;
  font-size: 37px;
  margin: 0px;
  font-weight: 300;
  margin-bottom: 30px;
}

.h3 {
  color: #E0F2FE;
  font-size: 60px;
  margin: 0px;
  font-weight: bold;
  margin-bottom: 30px;
}

.h4 {
  font-size: 30px;
  font-weight: 500;
  color: #F5F5F5;
  margin: 0px;
 
}


.p {
  color: #E5E7EB;
  font-size: 22px;
  line-height: 28px;

}

.container {
  display: flex;
  justify-content: center;
}

.limit {
  max-width: 1300px;
  margin: 0px 30px;
}

.portrait {
  border-radius: 50%;
  background-image: url("./../../public/selfPhoto.jpg");
  background-size: contain;
  background-position: center;
  width: 450px;
  height: 450px;
}

.experienceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
}
.experienceContainer {
  width: 520px;
}

.experienceTitle {
  display: flex;
  align-items: center;
}

.experienceInfo {
  border-left: solid white 2px;
  padding-left: 20px;
  height: 245px;
}

.jobTitle {
  font-size: 30px;
  font-weight: 500;
  color: #F5F5F5;
  margin: 0px;
}
.jobDates {
  color: #94A3B8;
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 10px;
}
.jobDescription {
  margin: 0px;
  color: #F5F5F5;
  font-size: 26px;
  margin-bottom: 10px;
  
}

.skillHeaders {
  font-size:35px;
  font-weight: 500;
  color: #F5F5F5;
  margin: 0px;
  margin-top: 30px;
}

.skills {
  font-size:40px;
  font-weight: 500;
  color: #F5F5F5;
  margin: 0px;
}


.projectContainer {
  width: 100%;
  
}


.swiper {
  height: 100%;
  width: 90vw;
  max-width: 1300px;
  height: 640px;
  padding: 5px;
  margin: 0 auto;
  

}

.swiperContainer {
  height: 100%;
  max-width: 1300px;
  

}

.slide {
  display: flex;
  justify-content: center;
  height: 100%;
  width: auto;
}

.slideCard {
  width: 400px;
  height: 600px;
  border-radius: 10px; 
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #E0F2FE;
  
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  pointer-events: none;
}



.video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;

}

.slideText {
  margin: 20px 10px;
}

.projectHeading {
  font-size: 25px;
  color:#F5F5F5;
  margin: 0px;
}

.projectDescription {
  color: #E5E7EB
}

.tagContainer {

  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.slideTag {
  border: solid grey 1px;
  color: #E5E7EB;
  border-radius: 20px;
  width: fit-content;
  padding: 5px 10px;
  font-size: 13px;
  margin: 0px;
}

@media screen and (max-width: 2000px) and (min-width: 1050px) {
  .h1 {
    font-size: 75px;
  }
  .h2 {
    font-size: 32px;
  }

  .portrait {
    width: 350px;
    height: 350px;
  }

  .h3 {
    font-size: 45px;
  }

  .h4 {
    font-size: 25px;
  }

  .jobTitle {
    font-size: 27px;
  }

  .jobDescription {
    font-size: 24px;
  }
  
  .experienceContainer {
    width: 440px;
    
  }

  .p {
    font-size: 24px;
  }

  .skillHeaders {
    font-size: 25px;
    
  }
  
  .skills {
    font-size:30px;
    
  }

}



@media screen and (max-width: 1050px) and (min-width: 800px) {
  

  .h1 {
    font-size: 48px;
    width: 400px;
  }
  .h2 {
    font-size: 24px;
  }

  .portrait {
    width: 275px;
    height: 275px;
  }

  .h3 {
    font-size: 36px;
  }

  .h4 {
    font-size: 19px;
  }

  .jobTitle {
    font-size: 24px;
  }

  .jobDescription {
    font-size: 21px;
  }
  
  .experienceContainer {
    width: 340px;
    
  }

  .logoImage {
    object-fit: cover;
    width: 50px;
    height: 50px;
  }

  .p {
    font-size: 20px;
  }


  .skillHeaders {
    font-size: 20px;
    
  }
  
  .skills {
    font-size:25px;
    
  }

}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
  
  }

  .experienceGrid {
    grid-template-columns: 1fr;

    
  }

  .experienceInfo {

    height: 180px;
  }

  .h1 {
    font-size: 50px;
  }
  .h2 {
    font-size: 23px;
  }

  .portrait {
    width: 300px;
    height: 300px;
    margin: 30px 0px;
  }

  .h3 {
    font-size: 40px;
  }

  .h4 {
    font-size: 18px;
  }

  .jobTitle {
    font-size: 22px;
  }

  .jobDescription {
    font-size: 19px;
  }
  
  .experienceContainer {
    width: 440px;
    
  }

  .p {
    font-size: 19px;
  }

  .logoImage {
    object-fit: cover;
    width: 50px;
    height: 50px;
  }

  .jobDates {
    font-size: 18px;
  }

  .skillHeaders {
    font-size: 20px;
    
  }
  
  .skills {
    font-size:23px;
    
  }

  .slideCard {
    width: 300px;
    height: 540px;
  }
  
  .videoContainer {
    height: 200px;
  }

  .swiper {
    height: 580px
  }

  
}


@media screen and (max-width: 500px) and (min-width: 425px) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
  
  }

  .experienceGrid {
    grid-template-columns: 1fr;
    row-gap: 40px;
    
  }

  .h1 {
    font-size: 40px;
  }
  .h2 {
    font-size: 27px;
  }

  .portrait {
    width: 250px;
    height: 250px;
    margin: 30px 0px;
  }

  .h3 {
    font-size: 32px;
  }

  .h4 {
    font-size: 16px;
  }

  .jobTitle {
    font-size: 18px;
  }

  .jobDescription {
    font-size: 16px;
  }
  
  .experienceContainer {
    width: 320px;
    
  }

  .logoImage {
    object-fit: cover;
    width: 50px;
    height: 50px;
  }


  .jobDates {
    font-size: 16px;
  }

  .p {
    font-size: 18px;
  }

  .experienceInfo {
    height: 180px;
  }

  .skillHeaders {
    font-size: 20px;
    
  }
  
  .skills {
    font-size:23px;
    
  }

  .slideCard {
    width: 300px;
    height: 540px;
  }
  
  .videoContainer {
    height: 200px;
  }

  .swiper {
    height: 580px
  }
}

@media screen and (max-width: 425px) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
  
  }

  .experienceGrid {
    grid-template-columns: 1fr;
    row-gap: 33px;
    
  }

  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 15px;
  }

  .heroSubText {
    width: 90%;
  }

  .portrait {
    width: 200px;
    height: 200px;
    margin: 50px 0px;
  }

  .h3 {
    font-size: 30px;
  }

  .h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .jobTitle {
    font-size: 15px;
  }

  .jobDates {
    font-size: 13px;
  }

  .jobDescription {
    font-size: 13px;
  }
  
  .experienceContainer {
    width: 240px;
    
  }
  .experienceInfo {
    height: 160px;
  }

  .p {
    font-size: 14px;
    line-height: 16px;
  }

  .logoImage {
    object-fit: cover;
    width: 38px;
    height: 38px;
  }

   .skillHeaders {
    font-size: 14px;
    
  }
  
  .skills {
    font-size:16px;
    
  }

  .slideCard {
    width: 200px;
    height: 460px;
  }
  
  .videoContainer {
    height: 150px;
  }

  .swiper {
    height: 500px;
  }

  .projectDescription {
    font-size: 11px;
  }

  .projectHeading {
    font-size: 20px;
  }

  .slideTag {
    font-size: 10px;
    padding: 4px;
  }
  
}